extends ../layout

block content
  - json = "var Post = " + JSON.stringify(post)
  script.
    !{json}
  div(ng-controller='PostEditCtrl')
    div.row: div.span12.status
      span(ng-show="postDirty") Post Dirty
      span(ng-show="draftSaving") Saving Draft
    div.row: div.span12
      label(for='post-title') Title
      input(type='text', ng-model='post.postName')
    div.row
      div.span12
        textarea(type='text', ng-model="post.postPreview", rows='30', cols='40', style='width: 90%')
      div(style='clear:both')