extends ../layout

append head
  = posts.length + ' posts '
  a(href='/posts/new') Add New

block content
  div.post
    div.row
      each post in posts
        div.span12
          h2: a(href='/posts/' + post.postSlug)= post.postName