extends ../layout

block content
  - json = "var Post = " + JSON.stringify(post)
  script.
    !{json}
  div(ng-controller='PostCtrl').post
    div.row
      div.span12
        h2(ng-bind-html-unsafe="post.postName")
        if true
          a(href='/posts/' + post.postSlug + '/edit') Edit
    div.row
      div.span12.post-content(ng-bind-html-unsafe="post.postPreview | markdown")= post.postPreview