doctype html
html
  head
    title= title
    block styles
      each style in styles
        link(rel='stylesheet', href=style.href)
    block head-scripts
      each script in scripts
        script(type='text/javascript', src=script.src)
  body
    div.container(ng-app="app")
      header.page-header
        block head
          include includes/head
      block content
      block footer
        include includes/foot
