styles = styles || [{href:'/stylesheets/style.css'}]

doctype 5
html
  head
    title= title
    each style in styles
      link(rel='stylesheet', href=style.href)
    script(type='text/javascript', src='/scripts/markdown.js')
    script(type='text/javascript', src='/scripts/angular.min.js')
    script(type='text/javascript', src='/scripts/script.js')
  body
    #page
      block content

