
doctype 5
html
  head
    title= title
    each style in styles
      link(rel='stylesheet', href=style.href)
    each script in scripts
      script(type='text/javascript', src=script.src)
  body
    #page
      block content

