styles = styles || [{href:'/stylesheets/style.css'}]

doctype 5
html
  head
    title= title
    each style in styles
      link(rel='stylesheet', href=style.href)
  body
    #page
      block content

