extends layout

block content
  div(ng-app='app').container
    header.page-header
      h1= title
    div.row
      div.span12
        p
          div.btn-group(style="text-align: center;", data-toggle="buttons-radio", ng-init="textboxClass='span6';previewClass='span6'") foo
            button.btn.btn-mini(ng-click="textboxClass='span12';previewClass='hide'"): i.icon-chevron-left
            button.btn.btn-mini(ng-click="textboxClass='span6';previewClass='span6'"): i.icon-pause
            button.btn.btn-mini(ng-click="textboxClass='hide';previewClass='span12'"): i.icon-chevron-right
    div.row
      div(ng-class="textboxClass")
        textarea(type='text', ng-model="message", rows='30', cols='40', style='width: 100%')
      div(ng-class="previewClass")
        div(class='markdown-preview', ng-bind-html-unsafe="message | markdown")
      div(style='clear:both')