extends layout

block content
  div(ng-app='app').container
    header.page-header
      h1= title
    div.row
      div.span6
        textarea(type='text', ng-model="message", rows='30', cols='40', style='float:left;width: 100%')
      div.span6
        div(class='markdown-preview', ng-bind-html-unsafe="message | markdown")
      div(style='clear:both')