extends layout

block content
  div(ng-app='app').container
    header.page-header
      h1= title
    div(ng-controller='PostNewCtrl')
      div.row
        div.span12
          label(for='postname')
            Post Name
        div.span12
          input(type='text', ng-model='post.postName')#postname
        div.span12
          p Slug: {{post.postSlug}}
        div.span12
          button.btn.btn-primary(ng-click='createPost()')= "Create Post"