extends layout

block content
  div(ng-app='app').container
    header.page-header
      h1 #{title} - #{posts.length} posts
      a(href='/post-new') Add New
    div.post
      div.row
        each post in posts
          div.span12
            a(href='/' + post.postSlug)
              h2= post.postName
